<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @study_session.course %>
</p>

<p>
  <b>Date:</b>
  <%= @study_session.date %>
</p>

<p>
  <b>Time:</b>
  <%= @study_session.time %>
</p>

<p>
  <b>Location:</b>
  <%= @study_session.location %>
</p>


<%= link_to 'Edit', edit_study_session_path(@study_session) %> |
<%= link_to 'Back', study_sessions_path %>
