<p>
  <b>Course:</b>
  <%= @study_session.course.abbrev %>
</p>

<p>
  <b>Date:</b>
  <%= @study_session.date %>
</p>

<p>
  <b>Time:</b>
  <%= @study_session.time %>
</p>

<p>
  <b>Location:</b>
  <%= @study_session.location %>
</p>

<p>
  <b>People Invited:</b>
  <% @study_session.users.each do |user| %>
  <% name = user.first_name + " " + user.last_name %>
  <br><%= name %>
  <% end %>
</p>

<%= link_to 'Invite People to this Event', new_course_study_session_invitation_path(@study_session.course, @study_session) %>
<br>
<%= link_to 'Edit', edit_course_study_session_path(@study_session) %> |
<%= link_to 'Back', course_study_sessions_path %>
