<h1><%= current_user.first_name %>'s Schedule</h1>

<table>
  <tr>
    <th>Course</th>
    <th></th>
    <th>Options</th>
    <th></th>
  </tr>

<% @registrations.sort_by {|r| r.course.full_name }.each do |registration| %>
<tr>
    <td><%= registration.course.full_name %></td>
    <td><%= link_to 'Show', registration.course %></td>
    <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
    <td><%= link_to 'Destroy', registration, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Registration', new_registration_path %>
<br><a href="/">Back</a>