<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @registration.user.email %>
</p>

<p>
  <b>Course:</b>
  <%= @registration.course.description %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
