<% if user_signed_in? %>

<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Department - <i>for example, <b>BPUB</b></i><br>
    <%= f.text_field :department %><br />
  </div>
  <div class="field">
    Number - <i>for example, <b>250</b></i><br>
    <%= f.number_field :number %><br />
  </div>
  <div class="field">
    Section - <i>for example, <b>009</b></i><br>
    <%= f.text_field :section %><br />
  </div>
  <div class="field">
    Description - <i>for example, <b>Managerial Economics</b></i><br>
    <%= f.text_field :description %><br />
  </div>
  <div class="actions">
    <%= f.submit class: 'medium blue nice radius button'%>
  </div>
<% end %>
<% end %>