<p id="notice"><%= notice %></p>

<p>
  <b>Department:</b>
  <%= @course.department %>
</p>

<p>
  <b>Number:</b>
  <%= @course.number %>
</p>

<p>
  <b>Section:</b>
  <%= @course.section %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Roster:</b>
  <% @course.users.each do |user| %>
  <% name = user.first_name + " " + user.last_name %>
  <br><%= name %>
  <% end %> 
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
