<!DOCTYPE html>
<html>
<head>
  <title>PennStudyScheduler</title>
  <%= stylesheet_link_tag    "foundation" %>
  <%= stylesheet_link_tag     "app"%>
  <%= stylesheet_link_tag	  "ie"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <p></p>
<div class="row">
  <div class = "seven columns"></div>
  <div class = "five columns">
<% if user_signed_in? %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
  | Not Registered?
  <%= link_to 'Sign Up Now!', new_user_registration_path %>
<% end %>
</div>
<div class="row" style="border:2px solid gray; background-color: #E8E8E8">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>
</div>
</body>
</html>
